[submodule "cpp/cuew"]
	path = cpp/cuew
	url = https://github.com/CudaWrangler/cuew
[submodule "cpp/extern/cuew"]
	path = cpp/extern/cuew
	url = git@github.com:fabricatedmath/cuew.git
[submodule "cpp/extern/cpu_features"]
	path = cpp/extern/cpu_features
	url = git@github.com:fabricatedmath/cpu_features.git
[submodule "concept/tl-lib/extern/cpu_features"]
	path = concept/tl-lib/extern/cpu_features
	url = https://github.com/google/cpu_features.git
